@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,700,900&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Varela+Round&subset=hebrew,latin-ext');

input {
    direction: rtl;
}

textarea {
    direction: rtl;
}
.center {
    margin-top: 50px;
}

.modal-header {
    padding-bottom: 5px;
}

.modal-footer {
    padding: 0;
    direction:ltr;
}

    .modal-footer .btn-group button {
        height: 40px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border: none;
        border-right: 1px solid #ddd;
    }

    .modal-footer .btn-group:last-child > button {
        border-right: 0;
    }

.modal-content {
    direction: rtl;
    text-align: right;
}

#secLabel {
    display: block;
    text-align: right;
}
